<html>
  <body>
    <form method="POST" action="/new">
      <h2>New Message</h2>
      <label for="name">Name: </label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="message">Message: </label><br />
      <input type="text" id="message" name="message" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
